<form>
  <div class="row pt-5">
    <div class="col-md-4">
      <div class="form-group">
        <label for="name">Name</label>
        <input id="name" name="name" [(ngModel)]="character.name" type="text" class="form-control" autofocus>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label for="level">Level</label>
        <input id="level" name="level" [(ngModel)]="character.level" type="number" min="1" max="20" class="form-control">
      </div>
    </div>
    <!-- <div class="col align-self-end d-flex">
      <button (click)="save()" class="btn btn-primary form-group ml-auto">Save</button>
    </div> -->
  </div>
  
  <div class="row">
    <div class="col-md-6">
      <div class="card form-group">
        <div class="card-header">
          Origin
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <select name="origin" [(ngModel)]="character.origin" class="form-control">
              <option *ngFor="let option of origins" [ngValue]="option">
                {{option.name}}
              </option>
            </select>
            <div *ngIf="character.origin" class="mt-2">
                {{character.origin.description}}
            </div>
          </li>
          <ng-container *ngIf="character.origin">
            <li class="list-group-item">
              <b>Skills:</b> Choose {{character.origin.proficiencyCount}} from {{character.origin.proficiencyOptions.join(", ")}}
              <ng-container *ngFor="let skill of character.originSkills() as originSkills; index as i">
                <select class="form-control mt-2" name="originSkill{{i}}" (change)="character.changeSkill(skill, $event.target.value)">
                  <option selected>
                    {{skill}}
                  </option>
                  <option *ngFor="let option of character.origin.proficiencyOptions | filter:originSkills">
                    {{option}}
                  </option>
                </select>
                <div *ngIf="skill" class="mt-2">
                  {{skills.byName[skill].description}}
                </div>
              </ng-container>
            </li>
            <li class="list-group-item">
              <b>Languages:</b> {{character.originLanguageDisplay()}}
              <ng-container *ngFor="let category of character.origin.languages; index as i">
                <select name="language{{i}}" [(ngModel)]="character.languages[i]" class="form-control mt-2">
                  <option *ngFor="let language of languages.byCategory[category]" [ngValue]="language">
                    {{language.name}}
                  </option>
                </select>
                <div *ngIf="character.languages[i]" class="mt-2">
                  Speakers: {{character.languages[i].speakers.join(", ")}}
                </div>
              </ng-container>
            </li>
            <li class="list-group-item">
              <b>Equipment:</b> {{character.origin.equipment.join(", ")}}
            </li>
            <li class="list-group-item">
              <b>Base Attack:</b> {{character.origin.attack}}
            </li>
          </ng-container>
        </ul>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card form-group">
        <div class="card-header">
          Alignment
        </div>
        <div class="card-body">
          <select name="alignment" [(ngModel)]="character.alignment" class="form-control">
            <option *ngFor="let option of alignments" [ngValue]="option">{{option.name}}</option>
          </select>
          <div *ngIf="character.alignment" class="mt-2">
            {{character.alignment.description}}
          </div>
        </div>
      </div>
      
      <div class="card form-group">
        <div class="card-header">
          Archetype
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <select name="archetype" [(ngModel)]="character.archetype" class="form-control">
              <option *ngFor="let option of archetypes" [ngValue]="option">
                {{option.name}} ({{option.primaryPower}}/{{option.secondaryPower}})
              </option>
            </select>
            <div *ngIf="character.archetype" class="mt-2">
              {{character.archetype.description}}
            </div>
          </li>
          <ng-container *ngIf="character.archetype">
            <li class="list-group-item">
              <b>Inherent Ability: </b>{{character.archetype.inherentAbility}}
            </li>
            <li class="list-group-item">
              <b>Stat Increase: </b>
              {{character.archetypeStatDisplay()}}
            </li>
            <li class="list-group-item">
              <label for="primaryPowerSet">Primary Power ({{character.archetype.primaryPower}}):</label>
              <select id="primaryPowerSet" name="primaryPowerSet" class="form-control" [(ngModel)]="character.primaryPowerSet">
                <option *ngFor="let powerSet of powerSets.byCategory[character.archetype.primaryPower] | filter:'primary'" [ngValue]="powerSet">
                  {{powerSet.name}}
                </option>
              </select>
            </li>
            <li class="list-group-item">
              <label for="secondaryPowerSet">Secondary Power ({{character.archetype.secondaryPower}}):</label>
              <select id="secondaryPowerSet" name="secondaryPowerSet" class="form-control" [(ngModel)]="character.secondaryPowerSet">
                <option *ngFor="let powerSet of powerSets.byCategory[character.archetype.secondaryPower] | filter:'secondary'" [ngValue]="powerSet">
                  {{powerSet.name}}
                </option>
              </select>
            </li>
            <li class="list-group-item">
              <b>Recovery/Endurance Dice: </b>{{character.archetype.recoveryDice}}/{{character.archetype.enduranceDice}}
            </li>
          </ng-container>
        </ul>
      </div>        
    </div>
  </div>
  
  <div class="row">
    <div class="col-lg-6 order-lg-2">
      <div class="row">
        <div class="col-md-6 col-lg-12">
          <div class="card form-group">
            <div class="card-header">
              Traversal
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <select name="traversal" [(ngModel)]="character.traversal" class="form-control">
                  <option *ngFor="let option of traversalPowers" [ngValue]="option">{{option.name}}</option>
                </select>
              </li>
              <ng-container *ngIf="character.traversal">
                <li *ngFor="let item of character.traversal.abilities" class="list-group-item">
                  <b>{{item.name}}: </b>{{item.description}}
                </li>
              </ng-container>
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-lg-12">
          <div class="card form-group">
            <div class="card-header text-center">
              Weakness and Presence
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="form-group mb-2">
                  <label for="weakness">Weakness (Damage &times;2)</label>
                  <select id="weakness" name="weakness" [(ngModel)]="character.weakness" class="form-control">
                    <option *ngFor="let type of damageTypes" [ngValue]="type">{{type.name}}</option>
                  </select>
                </div>    
                <div *ngIf="character.weakness">{{character.weakness.description}}</div>
              </li>
              <li class="list-group-item">
                <div class="form-group mb-2">
                  <label for="presence">Presence (Damage &times;0)</label>
                  <select id="presence" name="presence" [(ngModel)]="character.presence" class="form-control">
                    <option *ngFor="let type of damageTypes | filter:[damageTypes.byName['Physical']]" [ngValue]="type">{{type.name}}</option>
                  </select>
                </div>    
                <div *ngIf="character.presence">{{character.presence.description}}</div>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-lg-12">
          <div class="card form-group">
            <div class="card-header text-center">
              Health
            </div>
            <table class="table border-bottom mb-0">
              <tbody>
                <tr> 
                  <td class="border-right">Recovery</td>
                  <td class="text-right">{{character.archetype.recoveryDice}}</td>
                </tr>
                <tr> 
                  <td class="border-right">Vitality</td>
                  <td class="text-right mod" [class.negative]="character.getMod('Vitality') < 0">{{
                    character.getMod("Vitality") | abs
                  }}</td>
                </tr>
                <tr> 
                  <td class="border-right">Level</td>
                  <td class="text-right">&times;{{character.level}}</td>
                </tr>
                <tr> 
                  <td class="border-right">Total</td>
                  <td class="text-right">{{character.maxHealth}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-md-6 col-lg-12">
          <div class="card form-group">
            <div class="card-header text-center">
              Stamina
            </div>
            <table class="table border-bottom mb-0">
              <tbody>
                <tr> 
                  <td class="border-right">Level</td>
                  <td class="text-right">{{character.level}}</td>
                </tr>
                <tr> 
                  <td class="border-right">Swiftness</td>
                  <td class="text-right mod" [class.negative]="character.getMod('Swiftness') < 0">{{
                    character.getMod("Swiftness") | abs
                  }}</td>
                </tr>
                <tr> 
                  <td class="border-right">Minimum</td>
                  <td class="text-right">&and;3</td>
                </tr>
                <tr> 
                  <td class="border-right">Total</td>
                  <td class="text-right">{{character.maxStamina}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-md-6 col-lg-12">
          <div class="card form-group">
            <div class="card-header text-center">
              Defense
            </div>
            <table class="table border-bottom mb-0">
              <tbody>
                <tr> 
                  <td class="border-right">Base</td>
                  <td class="text-right">10</td>
                </tr>
                <tr> 
                  <td class="border-right">Vitality</td>
                  <td class="text-right mod" [class.negative]="character.getMod('Vitality') < 0">{{
                    character.getMod("Vitality") | abs
                  }}</td>
                </tr>
                <tr> 
                  <td class="border-right">Misc. Bonus</td>
                  <td class="text-right">+0</td>
                </tr>
                <tr> 
                  <td class="border-right">Total</td>
                  <td class="text-right">{{character.defense}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-md-6 col-lg-12">
          <div class="card form-group">
            <div class="card-header text-center">
              Fortitude
            </div>
            <table class="table border-bottom mb-0">
              <tbody>
                <tr> 
                  <td class="border-right">Base</td>
                  <td class="text-right">8</td>
                </tr>
                <tr> 
                  <td class="border-right">Ego</td>
                  <td class="text-right mod" [class.negative]="character.getMod('Ego') < 0">{{
                    character.getMod("Ego") | abs
                  }}</td>
                </tr>
                <tr> 
                  <td class="border-right">Misc. Bonus</td>
                  <td class="text-right">+0</td>
                </tr>
                <tr> 
                  <td class="border-right">Total</td>
                  <td class="text-right">{{character.fortitude}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 order-lg-1">
      <div class="card form-group">
        <table class="table text-center mb-0">
          <thead class="border-top-0">
            <tr>
              <th scope="col" class="border-top-0 border-right">Stat</th>
              <th scope="col" class="border-top-0 text-left">Skill</th>
              <th scope="col" class="border-top-0 px-0">  Prof</th>
              <th scope="col" class="border-top-0 text-right">Mod</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let stat of stats; index as i">
              <tr *ngFor="let skill of skillMap[stat.name] as skills; index as j">
                <td *ngIf="j === 0" [attr.rowspan]="skills.length" class="p-0 border-right">
                  <table class="table border-bottom mb-0">
                    <thead>
                      <tr>
                        <th scope="col" colspan="2">
                          <label for="stat{{i}}" class="mb-0">{{
                            stat.name
                          }}</label>
                        </th>
                      </tr>
                    </thead>
                    <tbody class="text-left">
                      <tr>
                        <td class="align-middle border-right">
                          Base
                        </td>
                        <td class="p-0">
                          <input 
                            id="stat{{i}}" name="stat{{i}}" class="form-control py-4 text-right" 
                            [(ngModel)]="character.stats[stat.name]" type="number" min="3" max="20"
                          >
                        </td>
                      </tr>
                      <tr>
                        <td class="border-right">
                          ASI
                        </td>
                        <td class="mod text-right">{{
                          character.getStatIncrease(stat.name)
                        }}</td>
                      </tr>
                      <tr>
                        <td class="border-right">
                          Total
                        </td>
                        <td class="text-right">{{
                          character.getStat(stat.name)
                        }}</td>
                      </tr>
                      <tr>
                        <td class="border-right">
                          Mod.
                        </td>
                        <td *ngIf="character.stats[stat.name]" class="mod text-right" [class.negative]="character.getMod(stat.name) < 0">{{
                          character.getMod(stat.name) | abs
                        }}</td>
                      </tr>
                    </tbody>
                  </table>
                </td>
                <td class="text-left">{{skill}}</td>
                <td class="px-0">
                  <div class="d-flex justify-content-center">
                    <div class="custom-control custom-checkbox">
                      <input 
                        type="checkbox" class="custom-control-input" id="{{skill}}" name="{{skill}}"
                        [(ngModel)]="character.skills[skill]" [disabled]="!character.canBeProficient(skill)"
                      >
                      <label class="custom-control-label" for="{{skill}}"></label>
                    </div>
                  </div>
                </td>
                <td class="text-right">
                  <span *ngIf="character.stats[stat.name]">{{character.getMod(stat.name, skill) | signed}}</span>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>    
      </div>
    </div>
  </div>
  
  <div class="row form-group">
    <ng-container *ngFor="let tuple of [['Primary Powers', character.primaryPowers()], ['Secondary Powers', character.secondaryPowers()]]">
      <div class="col">
        <div class="card">
          <div class="card-header">
            {{tuple[0]}}
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let power of tuple[1]">
              <div class="card">
                <div class="card-header">
                  {{power.name}}
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">                    
                    <b>Range: </b>{{character.rangeDisplay(power)}}
                  </li>
                  <li class="list-group-item">
                    <b>Activation: </b>{{power.activation}}, {{power.stamina}} Stamina
                  </li>
                  <li class="list-group-item" *ngIf="power.damage">
                    <b>Damage: </b>{{character.damageDisplay(power)}}
                  </li>
                  <li class="list-group-item">
                    {{power.description}}
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </ng-container>
  </div>
  
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="realName">Real Name</label>
        <input id="realName" name="realName" [(ngModel)]="character.realName" type="text" class="form-control">
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="hometown">Hometown</label>
        <input id="hometown" name="hometown" [(ngModel)]="character.hometown" type="text" class="form-control">
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="dayJob">Day Job</label>
        <input id="dayJob" name="dayJob" [(ngModel)]="character.dayJob" type="text" class="form-control">
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col"></div>
  </div>  
</form>
