<form>
  <div class="row" data-scroll-target>
    <div class="col-md-4">
      <div class="form-group">
        <label for="realName">Real Name</label>
        <input id="realName" name="realName" [(ngModel)]="character.realName" type="text" class="form-control">
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="hometown">Hometown</label>
        <input id="hometown" name="hometown" [(ngModel)]="character.hometown" type="text" class="form-control">
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="dayJob">Day Job</label>
        <input id="dayJob" name="dayJob" [(ngModel)]="character.dayJob" type="text" class="form-control">
      </div>
    </div>
  </div>
</form>
